# JDK unzipped dir
/jdk*
# Test cases dir
/testcases
# Dir for outputting results
/out
# Python cache
/__pycache__

# The compiler .jar package
*.jar

# Main script for local running
run.py

# SysY runtime source should be compiled
# manually for using under different platform
sylib.ll